{% extends 'base.html' %}

{% block content %}


<div class="graphs" style="width:100%;height:100%">

    <div class="col_1" name="sample" id="sample">

        <div class="col-md-12 span_3" >
               <!--<span class="label btn_7 label-success" style="display:none;"> <a href="/samples/1" >所有样本</a></span >-->
            <form action="/samples/1" method="post">
                <div class="input-group">
                    {% for sample in samplelist %}
                    <input type="text" name="search" id="search" class="form-control1 input-search" value="{{ sample.sample_code }}" style="display:none;">
                    {% endfor %}
                    <span class="input-group-btn" style="display:none;">
                        <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div><!-- Input Group -->
            </form>

            <div class="input-group">
                    <h2>以下为系统根据您输入的样本条形码号找到的所有信息：</h2>
            </div>

            <div class="bs-example1" data-example-id="contextual-table">
                <span class="label btn_7 label-primary">样本情况</span>
                总数：<span id="count">{{ count }},</span>{% if sample_code %}条码关键字：{{ sample_code }}{% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>样本条形码</th>
                        <th style="display:none;">(样本)实验编号</th>
                        <th>受检者</th>
                        <th>就诊医院</th>
                        <th>样本类型</th>
                        <th>检测方案</th>
                        <th>样本状态</th>
                        <th>收样时间</th>
                        <th style="display:none;">应出报告时间</th>
                        <th style="display:none;">实际出报告时间</th>
                        <th>样本进度</th>
                    </tr>
                    </thead>
                    <tbody>

                   {% for sample in samplelist %}
		        <tr>
		          <th scope="row">{{ sample.sample_code }}</th>
		          <td style="display:none;">{{ sample.exp_number }}</td>
		          <td>{{ sample.client_name }}</td>
                  <td>{{ sample.sample_sjyy }}</td>
		          <td>{{ sample.sample_type }}</td>
                  <td>{{ sample.AIM10 }}</td>
		          <td>
                          {% if sample.state_info and sample.state <= 3 and sample.state >=2 %}
                          <span class="email-title" id="sample_state{{ sample.id }}">{{ sample.state_info }}</span>
                          {% else %}
                          <span class="email-title" id="sample_state{{ sample.id }}">{{ state_list[sample.state] }}</span>
                        {% endif %}
                  </td>
		          <td>{{ sample.sample_re_time }}</td>
		          <td style="display:none;">{{ sample.should_report_time }}</td>
		          <td style="display:none;">

                      {% if  sample.reported_file != '无'%}

                                <button class='btn btn-warng1' >报告文件</button>

                        {% endif %}
                  </td>
		          <td>
                      <div class="progress" style="background-color: darkgrey">
                          <!--<div class="progress-bar progress-bar-primary" style="width: {{ sample.progress }}%"></div>-->
                          <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ sample.progress }}%;background-color: dodgerblue">
                               <!--<div class="progress-value">{{ sample.progress }}%</div>-->
                          </div>
                          <!--<div class="progress-bar progress-bar-primary" style="width: {{ sample.progress }}%"></div>-->
                      </div>
                  </td>
		        </tr>
            {% endfor %}

                    </tbody>
                </table>


                <div id="pagenav">
                    <nav>
                        <ul class="pagination pagination-sm">
                            {% if pageindex-1 >0 %}
                                <li ><a href="/samples/1?search={{ sample_code }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            {% endif %}
                            {% if pageindex-1 >= 1 %}
                                <li><a href="/samples/{{ pageindex - 1 }}?search={{ sample_code }}" >{{ pageindex - 1 }}</a></li>
                            {% endif %}
                            <li class="active"><a href="/samples/{{ pageindex }}?search={{ sample_code }}">{{ pageindex }}</a></li>

                            {% if pageindex + 1 < page %}
                                <li><a href="/samples/{{ pageindex + 1 }}?search={{ sample_code }}">{{ pageindex + 1 }}</a></li>
                            {% endif %}

                            {#        <li><a href="#">{{ pageindex+1  }}</a></li>#}
                            {% if page-1 >0 and pageindex != page %}
                                <li><a href="/samples/{{ page }}?search={{ sample_code }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

            </div>

        </div>


    </div>

    <div class="clearfix"> </div>

    <div class="copy_layout" style="display:none;">
        <p>基准医疗 &copy; 2016.Company name All rights reserved.powered by  alan - any problems please contract <a href="mailto:yaolin_fu@anchordx.com" target="_blank">yaolin_fu@anchordx.com</a></p>

    </div>

</div>

{% endblock %}